@import url('./Styles/_variables.css');
@import url('./Styles/_sidebar.css');
@import url('./Styles/_header.css');

body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgb(224, 220, 220);
    color: rgb(116, 113, 113);
}
