@import url('./Styles/_variables.css');
@import url('./Styles/_sidebar.css');
@import url('./Styles/_header.css');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: red;
    color: rgb(116, 113, 113);
}
